<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <title>Welcome to Steam</title>
    <link rel="stylesheet" href="./Images/">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./CSS/index.css">
   

</head>


<body>
    
  <section class="nav">
        <div class="container">
            <div class="box">
                <a href="index.html">
                    <i class="fab fa-steam"></i>
                    <h3>Steam</h3>
                </a>
            </div>
            <div class="box">
                <ul>
                    <a href="#">Store</a>
                    <a href="#">Library</a>
                    <a href="#">Community</a>
                    <a href="#">Friends</a>
                    <a href="/logout">Log Out</a>






                </ul>
            </div>
        </div>
    </section>


    <section class="main-body">
        <div class="container">
            <div class="inner-box-1">
                <img src="./Images/steamcards_promo_02.png" alt="">
                <div class="para1">Gift Cards
                    <ul>
                        <a href="">Now Available On Steam</a>
                    </ul>

                </div>
                <div class="para1">Recommended
                    <ul>
                        <a href="#">By Friends</a>
                        <a href="#">By Curators</a>
                        <a href="#">Tags</a>
                    </ul>

                </div>
                <div class="para1">DISCOVERY QUEUES
                    <ul>
                        <a href="#">Recommendations</a>
                        <a href="#">New Releases</a>

                    </ul>

                </div>
                <div class="para1">Browse Categories
                    <ul>
                        <a href="#">Top Sellers</a>
                        <a href="#">New Releases</a>
                        <a href="#">Upcoming</a>
                        <a href="#">Specials</a>
                        <a href="#">Virtual Reality</a>
                        <a href="#">Controller Friendly</a>
                    </ul>

                </div>
                <div class="para1">Browse by Genre
                    <ul>
                        <a href="#">Free to Play</a>
                        <a href="#">Early Access</a>
                        <a href="#">Action</a>
                        <a href="#">Adventure</a>
                        <a href="#">Casual</a>
                        <a href="#">Indie</a>
                        <a href="#">Massively Multiplayer</a>
                        <a href="#">Racing</a>
                        <a href="#">RPG</a>
                        <a href="#">Simulation</a>
                        <a href="#">Sports</a>
                        <a href="#">Strategy</a>
                    </ul>

                </div>
                <div class="para1">Recently Viewed
                    <ul>
                        <a href="#">Red Solstice 2:Survivors</a>
                        <a href="#">Hades</a>
                    </ul>

                </div>

            </div>
            <div class="inner-box-2">
                <div class="inner-nav">
                    <ul>
                        <a href="#">Your Store</a>
                        <a href="#">Browse</a>
                        <a href="#">Points Shop</a>
                        <a href="#">News</a>
                        <a href="#">Steam Labs</a>

                    </ul>
                    <form action="#">
                        <input type="search" name="search" placeholder="search here" autocomplete="off">
                        <button><i class="fas fa-search"></i></button>
                    </form>

                </div>
                <!-- Slideshow container -->
                <div class="slideshow-container">

                    <!-- Full-width images with number and caption text -->
                    <div class="mySlides fade">
                        <div class="flex">
                            <div class="box1">
                                <img src="./Images/Valhiem.jpg" alt="" width="100%">

                            </div>
                            <div class="box2">
                                <h3>Valhiem</h3>
                                <div class="grid">
                                    <img src="./Images/valflex1.jpg" alt="">
                                    <img src="./Images/valflex2.jpg" alt="">
                                    <img src="./Images/valflex3.jpg" alt="">
                                    <img src="./Images/valflex4.jpg" alt="">
                                </div>
                                <h2>Early Access Now Available
                                </h2>
                                <a href="#">Top Seller</a>
                                <div class="price">
                                    <div class="prices">
                                        <p class="originalprice">$29.99</p>
                                        <p class="discountedprice">$7.99</p>

                                    </div>
                                    <div class="icons">
                                        <i class="fab fa-windows"></i>
                                        <i class="fab fa-apple"></i>
                                        <i class="fab fa-steam"></i>


                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="mySlides fade">
                        <div class="flex">
                            <div class="box1">
                                <img src="./Images/Metro exodus.jpg" alt="" width="97%">

                            </div>
                            <div class="box2">
                                <h3>Metro Exodus</h3>
                                <div class="grid">
                                    <img src="./Images/mertro1.jpg" alt="">
                                    <img src="./Images/mterto2.jpg" alt="">
                                    <img src="./Images/metro 3.jpg" alt="">
                                    <img src="./Images/metro4.jpg" alt="">
                                </div>
                                <h2>Now Available
                                </h2>
                                <a href="#">Top Seller</a>
                                <div class="price">
                                    <div class="prices">
                                        <p class="originalprice">$49.99</p>
                                        <p class="discountedprice">$20.99</p>

                                    </div>
                                    <div class="icons">
                                        <i class="fab fa-windows"></i>
                                        <i class="fab fa-apple"></i>
                                        <i class="fab fa-steam"></i>


                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>
                    <div class="mySlides fade">
                        <div class="flex">
                            <div class="box1">
                                <img src="./Images/gtav.jpg" alt="" width="100%">

                            </div>
                            <div class="box2">
                                <h3>Grand Theft Auto V</h3>
                                <div class="grid">
                                    <img src="./Images/Gta1.jpg" alt="">
                                    <img src="./Images/GTA2.jpg" alt="">
                                    <img src="./Images/Gta3.jpg" alt="">
                                    <img src="./Images/GTA4.jpg" alt="">
                                </div>
                                <h2>Now Available
                                </h2>
                                <a href="#">Top Seller</a>
                                <div class="price">
                                    <div class="prices">
                                        <p class="originalprice">$9.99</p>
                                        <p class="discountedprice">$5.99</p>

                                    </div>
                                    <div class="icons">
                                        <i class="fab fa-windows"></i>
                                        <i class="fab fa-apple"></i>
                                        <i class="fab fa-steam"></i>




                                    </div>

                                </div>


                            </div>

                        </div>

                    </div>


                </div>
                <br>
                <div style="text-align:center">
                    <span class="dot" onclick="currentSlide(1)"></span>
                    <span class="dot" onclick="currentSlide(2)"></span>
                    <span class="dot" onclick="currentSlide(3)"></span>
                </div>
                <div class="e3">
                    <a href="#" class="e3border">
                        <img src="./Images/E3.jpg" alt="">
                    </a>
                </div>
                <div class="special">
                    <h1>Special Offers</h1>
                    <a href="#">Browse more</a>
                </div>
                <div class="container">

                    <a href="#">
                        <div class="box">
                            <img src="./Images/spotlight_image_english (1).jpg" alt="">
                            <div class="details">

                                <h3>
                                    Midweek Madness
                                </h3>
                                <p>Offer ends on 10 Oct</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="box">
                            <img src="./Images/spotlight_image_english (2).jpg" alt="">
                            <div class="details">
                                <h3>Weekend Deal</h3>
                                <p>Offer ends on Monday at 10am Pacific Time</p>
                            </div>
                        </div>
                    </a>
                    <a href="#">
                        <div class="box">
                            <img src="./Images/spotlight_image_english (3).jpg" alt="">
                            <div class="details">
                                <h3>Weekend Deal</h3>
                                <p>Offer ends 24 Jun @ 9:55pm.</p>
                            </div>
                        </div>
                    </a>

                </div>
                <div class="special2">
                    <h1 class="big">THE COMMUNITY RECOMMENDS <br> THESE GAMES TODAY

                    </h1>
                    <a href="#">Customize,explore by tag, & more</a>

                </div> -->
                <div class="videocontainer">
                    <div class="box1">
                        <video src="./Images/microtrailer.webm" controls poster="./Images/hades.jpg"></video>
                    </div>
                    <div class="box2">
                        <div class="details">
                            <h3>"TL;DR Hades is an excellent game that deserves every bit of praise it receives. Play it. Even if you are not into action roguelikes or Greek mythology, this game is still worth trying out for the..."</h3>
                            <a href="#">Read Entire Review</a>
                        </div>

                    </div>
                </div>
                <div class="special3">
                    <h1>BROWSE STEAM</h1>
                </div>
                <div class="grid2">
                    <a href="#">
                        <h3>new releases</h3>
                    </a>
                    <a href="#">
                        <h3>special</h3>
                    </a>
                    <a href="#">
                        <h3>free games</h3>
                    </a>
                    <a href="#">
                        <h3>by user tags</h3>
                    </a>
                </div>
                <div class="special4">
                    <h3>Updates and offers</h3>
                </div>
                <div class="imagecontainer">
                    <div class="box1">
                        <img src="./Images/LIS.jpg" alt="">
                        <div class="details">

                        </div>
                    </div>
                    <div class="box2">
                        <a href="#">
                            <img src="./Images/last grid1.gif" alt="">
                            <div class="details">

                            </div>
                        </a>
                        <a href="#">
                            <img src="./Images/grid2.jpg" alt="">
                            <div class="details"></div>
                        </a>
                        <a href="#">
                            <img src="./Images/message_image.gif" alt="">
                            <div class="details"></div>
                        </a>
                        <a href="#">
                            <img src="./Images/grid4.jpg" alt="">
                            <div class="details"></div>
                        </a>
                        <a href="#">
                            <img src="./Images/grid5.jpg" alt="">
                            <div class="details"></div>
                        </a>
                        <a href="#">
                            <img src="./Images/grid6.jpg" alt="">
                            <div class="details"></div>
                        </a>
                    </div>
                </div>
                <div class="special4">
                    <h3>GAMES STREAMING NOW</h3>
                </div>
                <div class="streamcontainer">
                    <a href="#">
                        <img src="./Images/download.jpg" alt="">
                        <div class="details">
                            <h3>Sword of Legends Online</h3>
                            <p><img src="./Images/icon_viewers.png" alt="">5022</p>
                            <i class="fab fa-youtube"></i>
                            <div class="live">
                                Live
                            </div>


                        </div>
                    </a>
                    <a href="#">
                        <img src="./Images/download (5).jpg" alt="">
                        <div class="details">
                            <h3>Euro Truck Simulator 2</h3>
                            <p><img src="./Images/icon_viewers.png" alt="">5022</p>
                            <i class="fab fa-youtube"></i>
                            <div class="live">
                                Live
                            </div>


                        </div>
                    </a>
                    <a href="#">
                        <img src="./Images/download (4).jpg" alt="">
                        <div class="details">
                            <h3>Red Solstice 2:Survivors</h3>
                            <p><img src="./Images/icon_viewers.png" alt="">5022</p>
                            <i class="fab fa-youtube"></i>
                            <div class="live">
                                Live
                            </div>


                        </div>
                    </a>
                    <a href="#">
                        <img src="./Images/download (1).jpg" alt="">
                        <div class="details">
                            <h3>Dead by Daylight</h3>
                            <p><img src="./Images/icon_viewers.png" alt="">3700</p>
                            <i class="fab fa-youtube"></i>
                            <div class="live">
                                Live
                            </div>


                        </div>
                    </a>
                    <a href="#">
                        <img src="./Images/download (2).jpg" alt="">
                        <div class="details">
                            <h3>There Is No Light</h3>
                            <p><img src="./Images/icon_viewers.png" alt="">3943</p>
                            <i class="fab fa-youtube"></i>
                            <div class="live">
                                Live
                            </div>


                        </div>
                    </a>
                    <a href="#">
                        <img src="./Images/download (3).jpg" alt="">
                        <div class="details">
                            <h3>Police Simulator:Patrol Officers</h3>
                            <p><img src="./Images/icon_viewers.png" alt="">5022</p>
                            <i class="fab fa-youtube"></i>
                            <div class="live">
                                Live
                            </div>


                        </div>
                    </a>
                </div>




            </div>

    </section>
    <section class="semifooter">
        <div class="container">
            <div class="info">
                <h1>Looking for recommendations?</h1>
                <p>Sign in to view personalized recommendations</p>
                <a href="./login"><button class="fbutton">Sign In</button></a>
                <p>Or
                    <a href="./register">sign up</a> and join steam for free
                </p>
            </div>
        </div>
    </section>
    <section class="footer">
        <div class="container">
            <ul class="upper-links">
                <a href="#">about steam</a>
                <a href="#">about valve</a>
                <a href="#">help</a>
                <a href="#">news feed</a>
            </ul>
            <div class="about">
                <img src="./Images/footerLogo_valve.png">
                <div class="block">
                    <p>&copy; 2021 Valve Corporation. All rights reserved. All trademarks are property of their respective owners in the US and other countries. VAT included in all prices where applicable.
                        <a href="#">Privacy Policy</a>
                        <a href="#">Legal</a>
                        <a href="#">Steam Subscriber Agreement</a>
                        <a href="#">Refunds</a>
                        <a href="#">Cookies</a>
                    </p>
                </div>
                <img src="./Images/logo_steam_footer.png">
            </div>
            <ul class="lower-links">
                <a href="#">About Valve</a>
                <a href="#">Steamworks</a>
                <a href="#">Jobs</a>
                <a href="#">Steam Distribution</a>
                <a href="#">Gift Cards</a>
                <a href="#"><i class="fab fa-facebook"></i> Steam</a>
                <a href="#"><i class="fab fa-twitter"></i> @steam</a>
            </ul>
        </div>
    </section>
 <script src="./JS/script.js"></script>
</body>


</html>