<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret</title>
</head>
<body>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem quae quo quaerat earum sint quisquam at consequatur reprehenderit id illo excepturi impedit voluptas, dolorem minima molestias suscipit cum, magnam aut?
</body>
</html>