* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

* section {
  width: 100%;
}

* .container {
  max-width: 1200px;
  height: 100%;
  margin: auto;
  padding: 20px 1em;
}

* a {
  color: white;
  text-decoration: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  background-color: #212429;
}

.nav {
  background-color: #171a21;
}

.nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .container .box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .container .box a i {
  font-size: 45px;
  margin-right: 20px;
  color: #c6d4df;
}

.nav .container .box a h3 {
  font-weight: 300px;
  margin: 5px 10px 0px 0px;
  font-size: 25px;
  color: #c6d4df;
}

.nav .container .box ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
  margin-top: 8px;
}

.nav .container .box ul a {
  margin: 0px 30px;
  color: #c6d4df;
}

.footer {
  background-color: #101113;
  bottom: 0px;
}

.footer .container .upper-links {
  border-top: 1px #313235 solid;
  padding: 20px 0px;
}

.footer .container .upper-links a {
  background-color: #3D424B;
  text-transform: uppercase;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
  margin-right: 10px;
  color: #cecece;
}

.footer .container .about {
  color: #cecece;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px #313235 solid;
  padding: 20px 0px;
}

.footer .container .about img {
  margin-right: 20px;
  position: relative;
  width: 120px;
}

.footer .container .about .block p {
  font-size: 15px;
  line-height: 25px;
}

.footer .container .about .block p a {
  color: white;
  border-right: 1px #cecece solid;
  padding: 0px 20px;
}

.footer .container .about .block p a:nth-child(5) {
  border-right: 0px #cecece solid;
}

.footer .container .lower-links {
  border-top: 1px #313235 solid;
  padding: 20px 0px;
}

.footer .container .lower-links a {
  padding: 5px 10px;
  font-size: 14px;
  border-radius: 3px;
  margin-right: 10px;
  color: #cecece;
}

.footer .container .lower-links a i {
  margin-right: 5px;
}

.footer .container .lower-links a .fa-facebook {
  color: #2f6ee2;
}

.footer .container .lower-links a .fa-twitter {
  color: #22a0e9;
}

.footer .container .lower-links a {
  color: white;
  border-right: 1px #cecece solid;
  padding: 0px 20px;
}

.footer .container .lower-links a:nth-child(5) {
  border-right: 0px #cecece solid;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80vh;
}

.main .box1 {
  width: 30%;
  background-image: url("/Images/Left login.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 1em;
  padding-top: 150px;
}

.main .box2 {
  width: 100%;
  padding: 50px 1em;
  padding-top: 50px;
}

.main .box2 .innerbox form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.main .box2 .innerbox form h1 {
  text-transform: uppercase;
  font-size: 34px;
  color: #ffffff;
  margin-bottom: 30px;
  font-weight: 200;
  letter-spacing: 2px;
}

.main .box2 .innerbox form label {
  color: #b7b7b9;
  margin-bottom: 5px;
}

.main .box2 .innerbox form label a:hover {
  color: #22a0e9;
}

.main .box2 .innerbox form input {
  background-color: #32353C;
  border: none;
  padding: 10px 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  width: 300px;
}

.main .box2 .innerbox form button {
  background: #00d4ff;
  background: linear-gradient(27deg, #00d4ff 0%, #1d8bc8 100%, #76c28c 100%);
  border: none;
  color: white;
  padding: 10px 20px;
  width: 150px;
  display: inline;
  margin-top: 13px;
  cursor: pointer;
}

.main .box2 .innerbox form button:hover {
  background: #00d4ff;
  background: linear-gradient(27deg, #00d4ff 0%, #1d8bc8 43%, #76c28c 100%);
}

.main .box2 .innerbox form select {
  background-color: #32353C;
  border: none;
  padding: 10px 5px;
  margin-bottom: 10px;
  border-radius: 3px;
  color: white;
  width: 300px;
}

.main .box2 .innerbox form .checkinput {
  width: 18px;
  height: 18px;
  margin-top: 13px;
}
/*# sourceMappingURL=register.css.map */